html, body {
    width: 100%;
    height: 100%;
   padding: 0px;
   margin: 0px;
   }
   main {
   max-width: 700px;
   margin-left: 600px;
   }
   #blog{
       margin: 3vh 10vw  ;
       text-align: center;
   }
   
   #infos{
       margin-top: 70px;
   
   }
   #nome{
      float: left;
   
   }
   #curso{
     
       float :right;
   }
   #data{
       float: left;
   }
   #atualizacao{
       float: right;
   }
   .inf{
   height: 35px;
   width: 250px;
   background-color: chocolate;
   margin: 30px 0px;
   padding-left: 25px;
   padding-top: 10px;
   }
   
   /*=========================================*/
   #cards{
       margin-top: 250px;
       
   }
   .rot{
   width: 250px;
   height: 240px;
   background-color: rgb(69, 16, 214);
   margin-bottom: 30px ;
   color: antiquewhite;
   align-items: center;
   padding: 12px;
   }
   #rotina{
   float: left;
   }
   #hobbies{
       float: right;
   }
   #artistas{
   float:left;
   }
   #viagens{
   float: right;
   }