html {
    box-sizing: border-box;
    font-size: 16px;
  }

  :before, *:after {
    box-sizing: inherit;
  }

  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  ol, ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

.headerSection {
height: 14vh;
background-color: rgb(252, 214, 0);
}
.procura{
  height: 6.7vh;
text-align: center;
}
#procurar {
   margin-top: 2vh;
}

.categorias {
   border-style: solid;
   line-height: 6.5vh;
 text-align: center;
 
}
.navegacao {
  vertical-align: middle;
  margin-left: 2vw;
}
.conteudo {
  height: 86vh;
background-color: rgb(218, 214, 214);
text-align: center;
align-items: center;

}
.pagamentoRapido{
height: 15vh;
width: 20vw;
align-items: center;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
border-right : solid 3px;
border-color: black;
}

.oferta {
  height: 15vh;
  width: 20vw;
border-radius: 1vw;
justify-content: center;
align-items: center;
text-align: center;
display: flex;
flex-direction: column;
}

.ofertas {
  margin-top: 10vh;
  display: flex;
  background-color: white;
  align-items: center;
  text-align: center;
  width: 80%;
  margin-left: 10vw;
border-radius: 1vw;
}
body {
  background-color: rgb(218, 214, 214)
}